/* prefix
--------------------------------------------------*/
@mixin prefix($property, $value, $prefixes: ()) {
  @each $prefix in $prefixes {
    #{'-' + $prefix + '-' + $property}: $value;
  }
  #{$property}: $value;
}

/* flexbox
--------------------------------------------------*/
@mixin flex-box() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin align-items() {
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

@mixin justify-content($value) {
  -webkit-box-pack: $value;
  -ms-flex-pack: $value;
  justify-content: $value;
}

@mixin flex-direction() {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

@mixin flex-wrap($value) {
  -ms-flex-wrap: $value;
  flex-wrap: $value;
}

@mixin flex-basis($value) {
  -ms-flex-preferred-size: $value;
  flex-basis: $value;
}

/* grid
--------------------------------------------------*/
@mixin grid($value) {
  display: -ms-#{$value};
  display: $value;
}

@mixin grid-columns($value) {
  -ms-grid-columns: $value;
  grid-template-columns:  $value;
}  

/* positions
--------------------------------------------------*/
@mixin position(
  $position,
  $top: null,
  $right: null,
  $bottom: null,
  $left: null
) {
  position: $position;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}
@mixin relative($args...) {
  @include position(relative, $args...);
}
@mixin absolute($args...) {
  @include position(absolute, $args...);
}
@mixin fixed($args...) {
  @include position(fixed, $args...);
}
@mixin static() {
  @include position(static);
}

/* fonts
--------------------------------------------------*/
@mixin fonts($size: null, $weight: null) {
  font: {
    size: $size;
    weight: $weight;
  }
}

