/* colors
--------------------------------------------------*/
$primary-color: #EDC197;
$alt-color: #02DAC5;
$gray-color: #B0B4B7;
$para-color: #8A9098;
$black-color: #121212;
$error-color: #DA0253;
$bg-color: #333C45;
$body-color: #1D2025;


/* spaces
--------------------------------------------------*/
$large-space: 40px;
$main-space: 24px;
$between-space: 16px;